// Reset it
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**********************/
/******** BODY ********/
/*********************/
body {
  background-image: url(../ASSETS/6229893.jpg); //From Freepik
}

main {
  width: min(80%, 500px);
  min-height: 95vh;
  max-height: fit-content;
  background-color: rgba(255,255,255, 0.5);
  backdrop-filter: blur(10px);
  margin: 2.5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5em;
  gap: 1em;

  #app-title {
    color: #131926;
    font-family: "Dancing Script", cursive;
    font-size: 2.5em;
  }
}

/**********************/
/******** FORM ********/
/*********************/
#item-input-form {
  margin: 1.75em 0 0.75em 0;
  display: flex;
  width: min(100%, 350px);
  // Input to add item to list
  #item-input {
    width: 100%;
    border-radius: 10px 0 0 10px;
    border: 1px solid #9cadce;
    padding: 0.5em 0em 0.5em 0.75em;

    &:focus {
      outline: 1px solid #9cadce;
    }
  }
  
  // Input Button
  #add-item-btn {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #9cadce;
    font-size: 15px;
    font-weight: bold;
    padding: 0.6em;
  }

  &:focus {
    filter: drop-shadow(-3px 16px 10px #9cadce);
  }
}

#filter-container {
  width: min(100%, 350px);
  #filter {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0.5em;
    border-bottom: 2px solid #9cadce;

    &:focus {
      outline: 2px solid #9cadce;
      border-radius: 10px;
      background-color: white;
    }
  }
  
}

#item-list-container {
  margin: 3em 0 0;
  width: 100%;
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    .item {
      width: min(100%, 350px);
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0.5em 1em;
      background-color: #d4afb9;
      border-radius: 10px;

      &:hover {

        filter: drop-shadow(-3px 5px 5px #b2959d);
      }
    }

    .edit-mode {
      background-color: #9cadce !important;
    }

    .remove-item-btn{
      background-color: transparent;
      color: rgb(62, 21, 21);
      border: none;
    }

  }
}

// Clear all items from page button
#clear-display {
    border: none;
    width: min(100%, 350px);
    border-radius: 10px;
    background-color: #9cadce;
    font-weight: bold;
    font-size: 15px;
    padding: 0.6em;

    &:hover {
      background-color: #e9e7fe;
      border: 1px solid #9cadce;
      filter: drop-shadow(-3px 5px 5px #9cadce);
    }
}

// Create an alert box